:root {
  --position-background: "right";
  --top-margin-image: 10%;
  --font: #fff;
  --primary-color: #1c1c1c;
  --secondary-color: #76dd00;
  --shadow-color: #00000040;
  --background-character-container: #000000b2;
  --background: #272727;
}
.background-image {
  background-image: url("./assets/background/background.jpg");
  background-size: cover;
  background-repeat: repeat-x;
  background-position: center bottom;
  height: 100vh;
}
/* Para pantallas grandes */
@media (min-width: 1024px) {
  /* .background-image {
    background-position: left bottom;
    background-repeat: repeat-x repeat-y;
    background-size: auto 100%;
  } */
  .background-image {
    background-position: 250% bottom; /* mueve los personajes más a la izquierda */
    background-size: 120% auto; /* da un poco más de "espacio" al cielo */
    background-repeat: repeat-x repeat-y;
  }
}
#body-form {
  width: 100%;
  height: 90vh;
}
.bg-green {
  width: 100%;
  height: 10vh;
  background: linear-gradient(
    to top,
    #1e2e00 0%,
    #9edf25 100%,
    transparent 10%
  );
}
.row {
  display: flex;
  flex-direction: row;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.flex-1 {
  flex: 1;
}
.ml-auto {
  margin-left: auto;
}
.text-center {
  text-align: center;
}
.form-display {
  background-color: var(--background);
  height: 70vh;
  border-radius: 30px;
}
.flex-col {
  flex-direction: column;
}
.flex-form {
  flex: 3;
}
.height-form {
  height: 90vh;
}

.relative-container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 20px 0 0 20px;
  color: var(--primary-color);
}

.background-image {
  z-index: 0; /* Ensures the image is behind the content */
}

.content-overlay {
  position: relative; /* Ensures content is on top */
  z-index: 1;
  /* Add styling for your content as needed */
  box-shadow: 0px 10px 10px 15px var(--shadow-color) inset;
  box-shadow: 0px 15px 15px 10px var(--shadow-color) inset;
  height: 100%;
}
.row-reverse {
  display: flex;
  flex-direction: column;
}
.status-container {
  flex: 6;
  padding: 40px 20px 20px 20px;
}
.data-character {
  flex: 3;
  background-color: var(--background-character-container);
  padding: 20px;
  color: var(--font);
}
.data-character p {
  font-size: 13px !important;
}
.data-character h1 {
  font-size: 15px !important;
}
.data-character h2 {
  font-size: 14px !important;
}

.flex-container {
  display: flex;
  flex-direction: row;
}
.text-green {
  color: var(--secondary-color);
}

.data-character h1 {
  color: var(--secondary-color);
}
.image-presentation {
  height: "100%";
  width: "100%";
}
.status-item {
  position: absolute;
  background-color: rgba(26, 26, 26, 0.7);
  color: white;
  padding-left: 10px;
  padding-right: 20px;
  left: 30px;
  top: 30px;
  border-radius: 10px;
  display: flex;
  font-size: 13px;
  height: 25px;
  padding-top: 3px;
  max-width: 200px;
  text-transform: uppercase;
}
.status-alive {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: radial-gradient(circle, #f1f510 0%, #608f09 100%);
  display: block;
}

.status-dead {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: radial-gradient(circle, #e92507 0%, #7c1616 100%);
  display: block;
}

.status-unknown {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: radial-gradient(circle, #9c9c9c 0%, #5b5454 100%);
  display: block;
}

.search-box {
  display: flex;
  align-items: center;
  border: 1.5px solid #80ff00; /* Borde verde neón */
  border-radius: 10px;
  padding: 10px 15px;
  max-width: 260px;
  background-color: transparent;
  transition: all 0.3s ease;
}

.search-box:hover,
.search-box:focus-within {
  box-shadow: 0 0 8px #80ff00;
}

.search-box input {
  background: transparent;
  border: none;
  outline: none;
  color: #a5a5a5;
  font-size: 14px;
  width: 100%;
}

.search-box input::placeholder {
  color: #80ff00;
  opacity: 0.7;
}

.search-box svg {
  width: 16px;
  height: 16px;
  margin-right: 8px;
  stroke: #80ff00;
}
.content-center {
  display: flex;
  justify-content: center;
}

.mb-1 {
  margin-bottom: 1rem;
}

.text-in-line {
  white-space: nowrap;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.characters-container {
  display: flex;
  flex-wrap: wrap; /* Permite que bajen a la siguiente línea */
  justify-content: center; /* Centra las filas */
  height: 70%;
  overflow-y: scroll;
  scrollbar-width: none;
}

.heart-icon-unlike {
  color: white;
  justify-self: center;
  margin-top: 20px;
}
.heart-icon-like {
  color: red;
  justify-self: center;
  margin-top: 20px;
}

.character-card {
  cursor: pointer;
  height: 200;
  width: 170;
  /* background-color: #212121; */
  border-radius: 30;
  margin: 10;
  text-align: center;
  padding: 10;
  border: 1px solid #80ff00;
  font-size: 14;
  transition: 1s;
}
.character-card:hover {
  /* background-color: #2f2e2e; */
  transform: scale(1.05);
  transition: 0.3s;
  /* Sombra proyectada */
  box-shadow: 15px 15px 30px #191919;
}
.margin-image-card {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10;
}
.margin-text-like {
  margin-top: 18;
  margin-left: 5;
}
.text-like::first-letter {
  text-transform: uppercase;
}

/* Buttons scroll */

.buttons-scroll-vertical-align {
  cursor: pointer;
  right: 20;
  background: rgba(123, 123, 123, 0.7);
  width: 32;
  height: 32;
  border-radius: 5;
  position: absolute;
  margin-top: -13;
  z-index: 1;
  justify-content: center;
  display: flex;
  align-items: center;
}
.buttons-scroll-vertical-align:hover {
  color: var(--secondary-color);
}
.buttons-scroll-vertical-align:active {
  color: var(--secondary-color);
  background-color: #5a5a5a;
}
.button-scroll-down {
  bottom: 20;
}

.h-10 {
  height: 10%;
}

.position-relative {
  position: relative;
}

.margin-vertical-30 {
  margin-top: 30;
  margin-bottom: 30;
}

.center-logo {
  justify-items: center;
}

.fav-tab {
  cursor: pointer;
  background-color: #5b5454;
  width: 200;
  padding-left: 1;
  padding-right: 1;
  padding-top: 5;
  padding-bottom: 10;
  justify-self: center;
  position: absolute;
  bottom: 2;
  border-top-right-radius: 5;
  border-top-left-radius: 5;
  text-align: center;
  font-size: 15;
}

.dropdown-content {
  display: none;
  bottom: 100%;
  left: 0;
  z-index: 1;
}

.dropdown:active .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
  transition: 0.5s;
}

.dropdown-content:hover + #title-dropdown {
  display: none;
}

.dropdown {
  position: absolute;
  display: inline-block;
}

#title-dropdown:active {
  display: none;
}
.order-card {
  order: 1;
}
.order-list {
  order: 2;
}
.container-size {
  height: auto;
  max-height: 450px;
}
.mb-2 {
  margin-bottom: 20px;
}
.margin-0 {
  margin: 0;
}
.logo {
  max-width: 200px;
}

#buttons-next {
  display: none;
}
#list-fab-all {
  display: none !important;
}

@media (min-width: 700px) and (max-width: 1200px) {
  .flex-form {
    flex: 7;
  }
  @media (orientation: portrait) {
    .container-size {
      height: 50vh;
    }
  }
}
@media (max-width: 700px) {
  #list-fab-all {
    display: flex !important;
    justify-content: center;
  }
  #buttons-next {
    display: block;
  }
  .logo {
    max-width: 200px;
  }
  .relative-container {
    /* width: 80% !important; */
    max-width: 100% !important;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    /* height: 40vh; */
    height: 53vh;
    font-size: 20vw !important;
    transform: scale(0.7);
    width: 85vw; /* 20% del ancho de la pantalla */
    font-size: 4vw; /* ajusta desde la esquina */
  }
  .margin-sm-n1 {
    margin-top: -10vw;
  }

  .characters-container {
    height: 300px;
  }

  .background-image {
    background-position: center bottom var(--top-margin-image);
    display: "flex";
    flex-direction: column;
  }
  .form-display {
    height: 50%;
    background-color: transparent;
    display: grid;
  }

  .flex-form {
    flex: 10;
  }
  .container-size {
    max-height: 200px;
  }

  #list-fab {
    display: none !important;
  }
  .buttons-scroll-vertical-align {
    display: none;
  }
  .character-card {
    background-color: #212121;
    margin: 0;
  }

  .order-card {
    order: 2;
  }
  .order-list {
    order: 1;
  }
  .character-card {
    transform: scale(0.9);
    width: 40vw; /* 20% del ancho de la pantalla */
    height: auto; /* mantiene proporción */
    font-size: 4vw; /* ajusta desde la esquina */
  }
  .character-card:hover {
    transform: scale(0.95);
  }
  .h-sm-auto {
    height: auto !important;
  }
  .margin-vertical-sm-0 {
    margin-top: 0;
    margin-bottom: 0;
  }

  .margin-vertical-sm-1 {
    margin-top: 5px !important;
    margin-bottom: 10px !important;
  }

  .hidden-sm {
    display: none;
  }
  .center-logo {
    display: flex;
    justify-content: center;
  }
  .buttons-scroll-horizontal-align {
    cursor: pointer;
    top: 50%;
    left: 0;
    background: rgba(123, 123, 123, 0.7);
    width: 32;
    height: 32;
    border-radius: 5;
    position: absolute;
    margin-top: -13;
    z-index: 1;
    justify-content: center;
    display: flex;
    align-items: center;
  }
  .buttons-scroll-horizontal-align-rigth {
    cursor: pointer;
    top: 50%;
    right: 0;
    background: rgba(123, 123, 123, 0.7);
    width: 32;
    height: 32;
    border-radius: 5;
    position: absolute;
    margin-top: -13;
    z-index: 1;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}
